<ion-header>
    <ion-navbar>
        <!-- <ion-title text-center>
            My Routes
        </ion-title> -->
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="routes==null || routes.length==0">

        <ion-card-header>
            No Route Found
        </ion-card-header>

        <ion-card-content>
            Go ahead and create a new route and start sharing rides to earn money and contribute to environment.
        </ion-card-content>

    </ion-card>

    <ion-card *ngFor="let route of routes">

        <ion-item>
            <ion-icon name="pin" item-start large></ion-icon>
            <h2>{{route.from.name}}</h2>
            <p>{{route.startTime}}</p>
        </ion-item>

        <ion-item>
            <ion-icon name="pin" item-right large></ion-icon>
            <h2>{{route.to.name}}</h2>
            <p>{{route.returnTime}}</p>
        </ion-item>

        <ion-item>
            <span item-left>{{route.seatsAvail}} seats</span>
            <span item-left>({{route.fare | currency:'INR':true:'1.0-0'}} each)</span>
            <button ion-button icon-left clear item-end (click)="showEditPage(route)">
              <ion-icon name="navigate"></ion-icon>
              Edit
            </button>
        </ion-item>
    </ion-card>

    <ion-fab right bottom>
        <button (click)="showSchedulePage()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>